* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: inherit;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 16px;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background-image: url(stefan-lehner-jQSNiYd6oUM-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  height: 100vh;
  width: 100vw;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 130px;
}

.nav--logo {
  width: 120px;
  height: 24px;
}

.nav--lista {
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav--li {
  font-weight: 700;
}

.nav--li:hover {
  border-bottom: 2px black solid;
}

.contenedor--titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
